<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
      <title>MangoTango</title>
    </head>
    <body>
      <div>
        <h1><a href="/">MangoTango</a></h1>
        </div>
      <div>
          <h2>LV999 Villager / Крестьянин 999 ур. / LV999 no Murabito</h1>
            <p>В этом мире существует концепция уровней.
              Уровень большинства людей варьируется от 1-го до 5-го, выше лишь у тех,
               кто живет за счёт побед над монстрами. Но не все обладают силой, чтобы убивать монстров.
              Это сильно зависит от того, какую роль тебе избрал Бог.
              Среди имущих силу есть восемь </p>
    </div>


    </body>
    <footer>
    <div>  Copyright MangoTango 2019</div>
    </footer>
</html>
